* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

canvas {
    border: 2px solid white;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#dashboards {
    border: 2px solid white;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    color: white;
    padding: 10px;
    width: 300px;
    font-family: monospace;
}