* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: white;
    font-family: monospace;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

canvas, .menu {
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    cursor: none;
}

.menu {
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.231);
    opacity: 0.8;
}

#startMenu {
    z-index: 90;
}

.menu h1 {
    margin-top: 60px;
}

.menu div {
    margin-top: 50px;
    height: 200px;
    align-items: center;

}

.btn {
    padding: 10px;
    min-width: 150px;
    min-height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.btn:hover {
    box-shadow: 3px 3px 0 white;
}

#gameOver {
    z-index: 60;
    display: none;
}

#dashboards {
    border: 2px solid white;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    color: white;
    padding: 10px;
    width: 300px;
    font-family: monospace;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding-top: 25%;
}

ul li {
    height: 50%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

ul li h4 {
    margin-top: 50%;
}

ul li button {
    min-width: 100px !important;
}

#skillMenu {
    display: none;
    z-index: 99;
}